body {
	display: flex;
	font-size: 16px;
	flex-direction: column;
}

.nav {
	display: flex;
	height: 56px;
}

.nav-item {
	width: 10%;
	display: flex;
}

.main {
	display: flex;
	justify-content: space-around;
}

.left-main {
	width: 20%;
}

.center-main {
	display: flex;
	width: 50%;
}

.overlappy {
	flex-wrap: wrap;
}

.cat {
	width: 10%;
}

.cats-desc {
	self-align: flex-end;
	display: flex;
	width: 100%;
}

.me {
	display: flex;
	flex-direction: column;
}

.right-main {
	width: 20%;
}

footer {
	display:flex;
	height: 55px;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.padding-right {
	padding-right: 1%;
}

.padding-top {
	padding-top: 1%;
}

.padding-bottom {
	padding-bottom: 1%;
}

.padding-left {
	padding-left: 1%;
}

.margin-right {
	margin-right: 1%;
}

.margin-top {
	margin-top: 1%;
}

.margin-bottom {
	margin-bottom: 1%;
}

.margin-left {
	margin-left: 1%;
}

.border-nav-item {
	border: 1px solid red;
}

.box-shadow {
	rgba(119, 17, 17, 0.1),0px 0px 8px 1px rgba(36, 65, 65, 0.1) !important;
}

.bg-nav {
	background-color: #00A79D !important;
}

.bg-nav-item {
	background-color: #e3e3e3 !important;
}

.bg-main {
	background-color: #3D4A51 !important;
}

.bg-white {
	background-color: white !important;
}

.bg-footer {
	background-color: #99171D !important;
}

.white {
	color: white;
}

.black {
	color: black;
}

.dark-grey {
	color: dark-grey;
}

.h1 {
	font-size: 31px;
}

.h2 {
	font-size: 25px;
}

.h3 {
	font-size: 20px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 16px;
}

.h6 {
	font-size: 13px;
}

.type-sm {
	font-size: 14px;
}

.type-xs {
	font-size: 12px;
}
