body {
	display: flex;
	font-size: 16px;
}

.nav {
	display: flex;
}

.nav-item {
	flex: 10%;
}

.center {
	justify-content: center;
}

.bg-nav {
	background-color: #00A79D !important;
}

.bg-main {
	background-color: #3D4A51 !important;
}

.bg-white {
	background-color: white !important;
}

.bg-footer {
	background-color: #99171D !important;
}

.white {
	color: white;
}

.black {
	color: black;
}

.dark-grey {
	color: dark-grey;
}

.h1 {
	font-size: 31px;
}

.h2 {
	font-size: 25px;
}

.h3 {
	font-size: 20px;
}

.h4 {
	font-size: 18px;
}

.h5 {
	font-size: 16px;
}

.h6 {
	font-size: 13px;
}

.type-sm {
	font-size: 14px;
}

.type-xs {
	font-size: 12px;
}
